[Unit]
Description=Power off Bluetooth by default

[Service]
Type=oneshot
ExecStart=/usr/bin/bluetoothctl power off

[Install]
WantedBy=default.target
