[Unit]
Description=Detect Secret Service collection status

[Service]
Type=oneshot
ExecStart=python3 "$HOME/.local/bin/secrets-helper.py -V $(systemd-escape -u -- %i)"
RemainAfterExit=no

