[Unit]
Description=Detect Secret Service collection status

[Service]
Type=oneshot
ExecStart=python3 %h/.local/bin/secrets-helper.py -V %I
RemainAfterExit=no

