[Unit]
Description=Detect Secret Service collection status

[Service]
Type=oneshot
ExecStart=/bin/bash -c "busctl --user -j get-property org.freedesktop.secrets $(systemd-escape -u -- %i) org.freedesktop.Secret.Collection Locked | jq -e '.data | not'"
RemainAfterExit=no

